################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XAML_QuanlyThuVien.sln
